.Careers-title{
    font-family: 'rutanLight';
}
.Careers-description {
    font-family: 'rutanLight';
}
.Careers-description-last{
    font-family: 'rutanLight';
}
.career-highlight{
    font-weight: 800;
}