.Button-on-click{
  background-color: #977257 !important;
  border: 0;
  border-radius: 0;
  /* width: 100%; */
  margin-left: 7px;

  /* text-decoration: none;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  background-color: green;
  color: #fff;
  border-radius: 5px; */
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: all 800ms ease-out;
}

.Button-on-click:hover{
  background-color: #977257 !important;
}

.Button-on-click:active{
  background-color: #6b584c;
  transform: scale(0.85);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  border-radius: 10px !important;
  /* Lowering the shadow */
}


.forms-height{
  min-height: 340px;
}

.forms-wraper-height{
  min-height: 300px
}

.checkOut-container-wraper{
    display: flex;
    justify-content: center;
}

.checkOut-container-wraper #child{
  width: 100%;
  max-width: 1230px;
  overflow: hidden;
  display: table;
}

.left-side-field-style{
  margin-right: 5px;
}

.right-side-field-style{
  margin-left: 5px;
}

.state-field-style{
  margin-left: 5px;
  margin-right: 5px;
}

.pin-code-field-style{
  margin-left: 5px;
}

.hr-row-style{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hr-row-style > #block1{
  width: 37.5%;
  padding: 0;
  margin: 0;
  /* background-color: green; */
}

.hr-row-style > #block2{
  text-align: center;
  width: 37.5%;
  padding: 0;
  margin: 0;
  /* background-color: red; */
}

.hr-row-style > .blockCenter{
  text-align: center;
  width: 25%;
  padding: 0;
  margin: 0;
}


.check-box-unchecked{
  padding: 7px;
  padding-left: 18px;
  border-style: solid;
  border-color: #ced4da; /* #3e3331 //#ced4da */
  border-width: 1px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.check-box-checked{
  padding: 7px;
  padding-left: 18px;
  border-style: solid;
  border-color: #6b584c; /* #3e3331 //#ced4da */
  border-width: 2px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 300ms ease-out;
}

.payment-method-type-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  padding-top: 20px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 0;
  width: 60%;
}



.form-control.error-form-style{
  background-color: transparent;
  border-color: #3e3331;
  border-width: 2px;
  border-radius: 5px;
  color: #3e3331;
}


.existing-address-component{
  border: 1px solid #cfcfcf;
  padding: 10px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  min-height: 150px;
  margin-bottom: 15px;
}

.existing-address-component:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.existing-address-evenNum-style{
  margin-right: 20px;
}

.existing-address-oddNum-style{
  margin-left: 20px;
}




.f-f {
  font-family: 'rutan';
}

.f-f-m {
  font-family: 'rutanMedium';
}

.f-f-l {
  font-family: 'rutanLight';
}

.f-f-t {
  font-family: 'rutanThin';
}

.f-f-b {
  font-family: 'rutanBold';
}

.f-f-dim-b {
  font-family: 'rutanDemibold';
}

.f-f-black {
  font-family: 'rutanBlack';
}




/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media (max-width: 1226px) {
    
}



/* Iphone 5s */
@media (max-width: 320px) {
    /* .checkOut-container-wraper #child{
        background-color: yellow;
    } */
}

@media (max-width: 574px) {
  .state-field-style{
    margin-left:5px;
    margin-right:0;
  }
  
  .pin-code-field-style{
    margin:0;
  }

  .payment-method-type-box{
    width: 80%
  }

  .forms-height{
    min-height: 190px;
  }

}

@media (max-width: 755px) {

  .existing-address-evenNum-style{
    margin-right: 0;
  }
  
  .existing-address-oddNum-style{
    margin-left: 0;
  }

}


@media (min-width: 768px) {
  .Button-on-click{
    width:100%
  }
}

  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }