.product-details-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.alt-img-list ul {
  list-style: none;
}

.alt-img-list ul li img {
  height: 75px;
  width: 75px;
  margin-bottom: 14.5px;
  border: 1px solid #36353541;
}

.alt-img-hero {
  width: 522px;
  height: 600px;
  padding-left: 0px;
}

.alt-img-hero img {
  width: 522px;
  height: 600px;
  border: 1px solid #36353541;
}

.products-details-head {
  font-size: 30px;
  letter-spacing: 3.6px;
  color: #3a3a3a;
  text-transform: uppercase;
  font-family: 'rutan';
  margin-bottom: 5px;
}

.products-details-label {
  font-size: 43px;
  text-transform: uppercase;
  height: 230px;
}

.products-details-price {
  font-size: 30px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  font-family: 'rutan';
  margin-bottom: 10px;
}

.product-details-button {
  text-align: left;
  padding: 0 !important;
  width: 270px;
}

.dropdown {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.dropdown button {
  background-color: #fff;
  color: #3a3a3a;
  border-radius: 0;
  padding: none;
  border: none;
  text-transform: uppercase;
  font-family: 'rutan';
  border-bottom: 1px solid #36353541;
}

.dropdown button:hover {
  background-color: #fff;
  color: #3a3a3a;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #36353541;
}

.dropdown button:active {
  background-color: #fff;
  color: #3a3a3a;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #36353541;
}

.product-details-color {
  margin-top: 60px;
}

.product-details-quantity {
  margin-top: 60px;
  text-transform: uppercase;
  font-family: 'rutan';
}

.color-pick {
  display: inline-block;
  background-color: #f1efeb;
  border: 0.5px solid #707070;
  width: 50px;
  height: 20px;
  margin-left: 65px;
  float: right;
}

.addon-img-container img {
  height: 230px;
  width: 230px;
}

.product-purchase-button {
  margin-top: 74px;
  margin-left: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 45%;
  color: #fff;
  background-color: #6e4e37;
  margin-bottom: 102px;
  border: none;
}

.quantity-decrease {
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.quantity-increase {
  padding-left: 20px;
  cursor: pointer;
}

.details-quantity {
  border-bottom: 1px solid #36353541;
  width: 270px;
}

.product-description-label {
  text-align: left;
  font-size: 17px;
  letter-spacing: 3.8px;
  font-family: 'rutanMedium';
  text-transform: uppercase;
}

.product-description-text {
  text-align: left;
  font-size: 14px;
  font-family: 'rutanLight';
  margin-bottom: 30px;
  list-style: none;
}

.product-description-text li {
  padding-top: 10px;
}

.material-dividers {
  display: inline;
  margin-left: 30px;
}

.product-details-label {
  font-size: 17px;
  letter-spacing: 3.8px;
  text-transform: uppercase;
  font-family: 'rutanMedium';
}

.product-details-text {
  list-style: none;
  font-size: 14px;
  font-family: 'rutanLight';
  margin-bottom: 30px;
}

.target-bold {
  font-family: 'rutanMedium';
}

.color-div {
  display: inline-block;
  font-family: 'rutanMedium';
}

.testing {
  position: absolute;
  right: 25px;
}

.color-pick {
  margin-right: 23px;
}

.material-div {
  display: inline;
  font-family: 'rutanMedium';
}

.material-dum {
  display: inline;
  float: right;
  text-transform: capitalize;
}

.thickness-div {
  display: inline;
  font-family: 'rutanMedium';
}

.thickness-dum {
  display: inline;
  float: right;
  text-transform: capitalize;
}

.quantity-div {
  display: inline;
  font-family: 'rutanMedium';
}

.quantity-dum {
  display: inline;
  float: right;
  text-transform: capitalize;
}

.dropdown-toggle::after {
  content: none;
}

.show {
  right: 0 !important;
  left: auto !important;
  border-radius: 0 !important;
  font-family: 'rutanLight';
}

.dropdown-menu {
  transform: translate3d(-20px, 27px, 0px) !important;
}

.modal-input {
  margin: 10px;
}

.modal-wrapper {
  border-right: 1px solid #36353541;
  font-family: 'rutanLight';
}

.modal-img img {
  margin-left: 10px;
  height: auto;
  width: 350px;
}

.modal-first {
  display: inline;
  border: none;
  border-bottom: 1px solid #36353541;
  width: 120px;
}

.modal-input:focus,
.modal-input:active {
  outline: none;
}

.modal-last {
  display: inline;
  border: none;
  border-bottom: 1px solid #36353541;
  width: 120px;
}

.modal-phone {
  border: none;
  border-bottom: 1px solid #36353541;
  width: 260px;
}

.modal-phone::-webkit-outer-spin-button,
.modal-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-phone[type='number'] {
  -moz-appearance: textfield;
}

.modal-email {
  border: none;
  border-bottom: 1px solid #36353541;
  width: 260px;
}

.modal-address {
  border: 1px solid #36353541;
  width: 260px;
  height: 90px;
  margin-bottom: 60px;
}

.modal-prd-det {
  margin-left: 10px;
}

.modal-check-button {
  margin-left: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 35%;
  color: #fff;
  background-color: #6e4e37;
  border: none;
}

.modal-det-text {
  margin-left: 10px;
  list-style: none;
  font-size: 14px;
  font-family: 'rutanLight';
  margin-bottom: 30px;
}

.modal-det-label {
  margin-left: 10px;
  text-align: left;
  font-size: 17px;
  letter-spacing: 3.8px;
  font-family: 'rutanMedium';
  text-transform: uppercase;
}

.mag-img-cont {
  z-index: 50;
  box-shadow: 4px 4px 10px #c5c5c58a;
}

.modal-price {
  margin-left: 10px;
}

.modal-cont-button {
  padding: 7px;
  width: 100%;
  color: #fff;
  background-color: #6e4e37;
  border: none;
}

.modal-intro-text {
  margin-left: 10px;
  font-size: 12px;
}

.products-details-price {
  margin-bottom: 30px;
}

.alt-img-hero-container {
  padding: 0px;
}

.strike-price {
  text-decoration: line-through;
  text-decoration-thickness: 1.8px;
  text-decoration-color: rgba(0, 0, 0, 0.455);
  color: rgba(0, 0, 0, 0.455);
}

.similar-products-head {
  margin-top: 45px;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'rutanLight';
  letter-spacing: 4.48px;
}
.similar-products-image img {
  width: 100%;
  height: 100%;
  border: 1px solid #36353541;
}
.similar-products-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fefaef;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'rutan';
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  text-align: left;
  height: 60px;
}
.similar-products-text {
  text-align: left;
  width: 100%;
  padding: 15px;
  padding-left: 6px;
  font-size: 14px;
  background-color: #f6f1ea;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.similar-products-container {
  display: inline-flex;
  flex-basis: 20%;
  flex-direction: row;
  padding-right: 15px;
  padding-bottom: 15px;
}
.similar-products-wrapper {
  margin: 5px;
}
/* -----------------------------------------LAPTOP  UPTO 1440PX------------------------------------------- */
@media (max-width: 1290px) {
  .products-details-label {
    height: 190px;
  }
  .img-hero-wrap {
    width: 480px !important;
    height: 480px !important;
  }
  .dropdown-menu {
    transform: translate3d(20px, 25px, 0px) !important;
  }
}

@media (max-width: 1266px) {
  .contianer {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .testing {
    right: 0px;
  }
  .alt-img-hero {
    width: 440px;
    height: 520px;
    padding-left: 10px;
  }
  .dropdown-menu {
    transform: translate3d(20px, 25px, 0px) !important;
  }
}

@media (max-width: 1190px) {
  .alt-img-hero {
    width: 420px;
    height: 50 0px;
  }
}
@media (max-width: 1160px) {
  .img-hero-wrap {
    width: 440px !important;
    height: 440px !important;
  }
}

@media (max-width: 1024px) {
  .similar-products-container {
    display: inline-flex;
    flex-basis: 195px;
    flex-direction: row;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .products-details-label {
    height: 145px;
  }
  .img-hero-wrap {
    width: 400px !important;
    height: 400px !important;
  }

  button#dropdown-basic {
    width: 225px;
  }
  .color-pick {
    margin-right: 40px;
  }
  .dropdown-item {
    padding: 3px;
    font-size: 12px;
    text-align: center;
  }
  .dropdown-menu {
    transform: translate3d(-19px, 25px, 0px) !important;
  }
  .product-purchase-button {
    margin: 50px 0 50px 25%;
  }

  .products-details-head {
    font-size: 23px;
  }
  .products-details-label {
    font-size: 30px;
  }
  .products-details-price {
    font-size: 28px;
  }
  .product-details-button {
    width: 100%;
  }
  .details-quantity {
    width: 225px;
  }
  .alt-img-list ul li img {
    width: 55px;
    height: 55px;
    margin-bottom: 13.5px;
  }
}

@media (max-width: 991px) {
  .product-details-second-wrapper {
    margin: 0 -10%;
  }
  .similar-products-container {
    display: inline-flex;
    flex-basis: 190px;
    flex-direction: row;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .products-details-label {
    height: auto;
  }
  .testing {
    right: 55px;
  }
  .modal-content {
    min-width: 775px;
    margin-left: -130px;
  }
  .alt-img-hero {
    margin-left: 10px;
  }
  .product-det.col-lg-6 {
    padding: 0 10%;
  }
  .products-details-head {
    font-size: 50px;
    margin-bottom: 5px;
  }
  .products-details-price {
    margin-bottom: 30px;
  }
  button#dropdown-basic {
    width: 85%;
  }
  .details-quantity {
    width: 85%;
  }
  .dropdown-menu {
    transform: translate3d(-58px, 25px, 0px) !important;
  }
  .product-details-text {
    margin-bottom: 0px;
  }
}
@media (max-width: 900px) {
  .similar-products-title {
    height: 45px;
    font-size: 12px;
  }
  .similar-products-text {
    font-size: 12px;
  }
}

/* 
@media (max-width: 790px) {
  .alt-img-list {
    display: none;
  }

  .alt-img-hero-container {
    display: none;
  }

  .dropdown {
    width: 80%;
  }
  .alt-img-hero {
    padding: 0px;
  }
  .material-div {
    font-size: 12px;
  }

  .thickness-div {
    font-size: 12px;
  }

  .color-div {
    font-size: 12px;
  }

  .quantity-div {
    font-size: 12px;
  }
  .quantity-decrease {
    font-size: 11px;
  }
  .quantity-increase {
    font-size: 11px;
  }
  .quantity-dum {
    font-size: 12px;
  }
  .color-pick {
    margin-left: 0px;
    width: 40px;
    height: 14px;
  }
  .product-details-quantity {
    width: 80%;
  }
}
/* ----------------------------------------TAB 768px and below ---------------------------------------------- */

@media (max-width: 768px) {
  .similar-products-container {
    display: inline-flex;
    flex-basis: 25%;
    flex-direction: row;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .product-det {
    margin-top: -50px;
  }
  .modal-check-button {
    font-size: 12px;
  }
  .modal-content {
    min-width: 627px;
    margin-left: -60px;
  }
  .modal-img img {
    width: 225px;
  }
  .alt-img-list {
    max-width: 9%;
    margin-left: 7%;
  }
  .alt-img-hero {
    margin-left: 15px;
  }
  button#dropdown-basic {
    width: 80%px;
  }
  .products-details-head {
    font-size: 30px;
    margin-bottom: 010px;
  }
  .products-details-price {
    margin-bottom: 30px;
  }
  .dropdown-menu {
    transform: translate3d(-48px, 25px, 0px) !important;
  }
  button.product-purchase-button {
    margin: 50px 140px 30px;
  }
  .product-details-color {
    margin-top: 62px;
  }
  .product-description-label {
    margin-bottom: 15px;
  }
  .product-details-texts {
    margin: 10px 0px;
  }
  .product-details-label {
    margin-top: 5px;
  }
  .product-details-text {
    margin-bottom: 0px;
  }
}

@media (max-width: 720px) {
  .product-details-second-wrapper {
    margin: 0%;
  }
  .product-det.col-lg-6 {
    padding: 0px 15px;
  }
}
@media (max-width: 653px) {
  .modal-address {
    margin-bottom: 5px;
  }
  .modal-content {
    min-width: 590px;
    margin-left: -38px;
  }
  button.product-purchase-button {
    margin: 10% 30% 5% 26%;
  }
  .product-details-color {
    margin-top: 0px;
  }
  .alt-img-hero img {
    width: 420px;
    height: 500px;
    margin-left: 15px;
  }

  .material-det {
    margin-bottom: 55px;
  }
  .product-details-quantity {
    width: 82%;
    margin-top: 0px;
  }
  .alt-img-list ul li img {
    height: 58px;
    width: 58px;
    margin-bottom: 15px;
  }
  .dropdown-menu {
    transform: translate3d(-45px, 25px, 0px) !important;
  }
}
@media (max-width: 578px) {
  .testing {
    right: 0px;
  }
  button#dropdown-basic {
    width: 100%;
  }
  .details-quantity {
    width: 100%;
  }
  .dropdown-menu {
    transform: translate3d(0px, 25px, 0px) !important;
  }
}

@media (min-width: 556px) {
  .product-details-carousel {
    display: none;
  }
}
@media (max-width: 555px) {
  .product-details-carousel {
    margin-bottom: 100px;
    padding: 0px;
  }
  .alt-img-list {
    display: none;
  }

  .alt-img-hero-container {
    display: none;
  }
}
@media (max-width: 541px) {
  .alt-img-hero img {
    width: 360px;
    height: 440px;
    margin-left: 15px;
  }
  .product-det {
    padding-left: 0px;
  }
  .products-details-label {
    font-size: 30px;
  }
  .products-details-price {
    margin-bottom: 25px;
  }
  .product-details-quantity {
    width: 83%;
  }
  .product-purchase-button {
    font-size: 12px;
  }
}

@media (max-width: 505px) {
  .similar-products-container {
    flex-basis: 48%;
  }
  .material-dum {
    font-size: 12px;
    margin-top: 3px;
  }
  .thickness-dum {
    font-size: 12px;
    margin-top: 3px;
  }
}
@media (max-width: 472px) {
  .products-details-label {
    font-size: 24px;
  }
  .alt-img-hero img {
    width: 330px;
    height: 410px;
    margin-left: 15px;
  }
  .alt-img-list {
    padding-right: 0px;
  }
}
/* ----------------------------------------mobile 425px and below ---------------------------------------------- */

@media (max-width: 425px) {
  .product-details-wrapper {
    margin-bottom: 0px;
  }
  .similar-products-container {
    padding-right: 0px;
  }
  .similar-products-wrapper {
    justify-content: space-between;
  }
  .quantity-increase {
    padding-left: 14px;
  }
  .quantity-decrease {
    padding-right: 14px;
  }
  .product-details-carousel {
    padding: 0px;
    margin-bottom: 60px;
  }
  .dropdown-menu.show {
    min-width: fit-content;
  }
  .dropdown-item {
    text-align: right;
  }
  .testing {
    font-size: 10px;
    margin-top: 5px;
  }
  .modal-check-button {
    width: 100%;
    margin: 0px;
  }

  .modal-prd-det {
    font-size: 12px;
  }
  .modal-first {
    font-size: 12px;
  }
  .modal-last {
    font-size: 12px;
  }
  .modal-address {
    font-size: 12px;
    width: 100%;
  }
  .modal-email {
    font-size: 12px;
    width: 100%;
    width: 100%;
  }
  .modal-phone {
    width: 100%;
    font-size: 12px;
  }
  .modal-img img {
    width: 150px;
  }
  .modal-content {
    min-width: 400px;
    margin-left: 0px;
  }
  button.product-purchase-button {
    margin: 15% 30% 5% 26%;
  }

  .color-pick {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 33px;
  }
  .material-div {
    font-size: 12px;
  }
  .thickness-div {
    font-size: 12px;
  }
  .color-div {
    font-size: 12px;
  }
  .quantity-div {
    font-size: 12px;
  }
  .thickness-dum {
    margin-top: 5px;
    font-size: 10px;
  }
  .material-dum {
    font-size: 10px;
    margin-top: 5px;
  }
  .products-details-head {
    margin-bottom: 15px;
    font-size: 26px;
  }
  .product-det {
    margin-left: 0px;
    width: 850px;
    padding-left: 15px;
  }
  .dropdown-menu {
    transform: translate3d(0px, 26px, 0px) !important;
  }
  .cart-det {
    display: flex;
    margin-top: 5px;
  }
  button#dropdown-basic {
    width: 100%;
  }
  .material-det {
    margin: 0px;
  }
  .product-details-color {
    margin-top: 40px;
  }
  .product-details-quantity {
    margin-top: 40px;
  }
  .product-purchase-button {
    margin: 50px 100px 0px;
  }
  .product-description-label {
    font-size: 20px;
    margin: 25px 0px;
  }
  .product-details-label {
    margin: 10px 0px;
  }
  .product-details-texts {
    margin: 15px 0px;
  }
  .product-details-text {
    margin-bottom: 0px;
  }
}
@media (max-width: 420px) {
  .products-details-label {
    font-size: 24px;
  }
  .alt-img-hero img {
    width: 300px;
    height: 380px;
  }
}
@media (max-width: 405px) {
  .product-det {
    width: 750px;
  }
}
@media (max-width: 390px) {
  .products-details-label {
    font-size: 24px;
  }
  .alt-img-hero img {
    width: 270px;
    height: 350px;
  }
}
@media (max-width: 380px) {
  .product-det {
    width: 740px;
  }

  .similar-products-head {
    font-size: 25px;
  }
}
@media (max-width: 375px) {
  .similar-products-text {
    padding: 6px;
  }
  .product-details-carousel {
    margin-bottom: 0px;
  }
  .modal-input {
    margin: 5px;
  }
  .modal-img img {
    width: 130px;
  }
  .modal-content {
    min-width: 360px;
  }
  .dropdown-menu {
    transform: translate3d(0px, 26px, 0px) !important;
  }
  .details-quantity {
    width: 100%;
  }
  button#dropdown-basic {
    width: 100%;
  }
  .products-details-head {
    font-size: 22px;
  }
  .products-details-label {
    font-size: 20px;
  }
  .products-details-price {
    font-size: 22px;
  }
  .product-purchase-button {
    margin-top: 50px;
    width: 45%;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .product-det {
    width: 750px;
    margin-top: 10px;
  }
  .alt-img-list ul li img {
    height: 50px;
    width: 50px;
  }

  .alt-img-hero img {
    width: 230px;
    height: 310px;
  }
}
@media (max-width: 350px) {
  .product-det {
    width: 655px;
  }
}
@media (max-width: 320px) {
  .similar-products-head {
    font-size: 20px;
  }
  .similar-products-text {
    font-size: 10px;
  }
  .similar-products-title {
    font-size: 10px;
  }
  .dropdown-menu.show {
    min-width: 120px;
    max-width: 120px;
  }
  .cart-det {
    margin-top: 10px;
  }
  .alt-img-hero img {
    width: 200px;
    height: 280px;
  }
  .alt-img-list ul li img {
    height: 50px;
    width: 50px;
  }
  .product-det {
    width: 600px;
  }
  button#dropdown-basic {
    width: 100%;
  }
  .material-div {
    font-size: 11px;
  }
  .material-dum {
    font-size: 8px;
    margin-top: 7px;
  }
  .thickness-div {
    font-size: 11px;
  }
  .color-div {
    font-size: 11px;
  }
  .quantity-div {
    font-size: 11px;
  }
  .quantity-decrease {
    padding: 0px 13px;
  }
  .quantity-increase {
    padding-left: 13px;
  }
  button.product-purchase-button {
    margin: 20% 30% 5% 26%;
  }
  .dropdown-menu {
    transform: translate3d(2px, 26px, 0px) !important;
  }
  .color-pick {
    margin-left: 0px;
    margin-right: 15px;
  }
}
