

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c5bbb1;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #c5bbb1;
}

.profile-tabs{
    font-family: 'rutan';
}

.tabs:hover {
    font-family: 'rutanDemibold';
}

.edit-field-style{
    background-color:transparent;
    border-color: #cbc6bf;
    border-style:solid;
    outline-color: #cbc6bf;
}

.input.edit-field-style:focus{
    outline:none;
}
/* 
.input:active {
    border: none;
    outline: none !important;
} */
/* 

//this oNe Works
input.form-control:focus {
    border: none;
} */