.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c5bbb1;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #c5bbb1;
}

.profile-tabs{
    font-family: 'rutan';
}

.tabs:hover {
    font-family: 'rutanDemibold';
}