.content {
  border: 1px solid #36383f;
  border-radius: 20px;
  width: 94%;
  height: 100%;
  background-color: red;
  overflow: hidden;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25px;
  left: 25px;
  /* z-index: 1; */
  z-index: 1080;

  -webkit-user-select: none;
  user-select: none;
  width: 70px;
  height: 35px;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* z-index: 2; */
  z-index: 1080;
}

#menuToggle span {
  display: flex;
  width: 25px;
  height: 1px;
  margin-bottom: 5px;
  position: relative;
  background: #838383;
  border-radius: 3px;
  z-index: 2080;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #ffff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 85vw;
  height: 108vh;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-right: 25px;
  padding-top: 100px;
  background-color: #a39076ef;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  overflow-y: scroll;
}

#menu li {
  /* padding: 2px 0; */
  transition-delay: 2s;
  list-style: none;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.menu-item-title {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.89);
  cursor: pointer;
  padding: 15px;
  padding-left: 0;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgba(233, 228, 228, 0.507);
  outline: none;
  transition: background-color 0.6s ease;
  list-style: none;
  font-weight: lighter;
  font-size: 14px;
  font-family: 'rutanLight';
}

.menu-item-sub-title {
  /* background-color: transparent;
  color: rgba(255, 255, 255, 0.89);
  cursor: pointer;
  padding: 15px 5px;
  display: flex;
  align-items: center;
  outline: none;
  transition: background-color 0.6s ease; */

  background-color: transparent;
  color: rgba(255, 255, 255, 0.89);
  cursor: pointer;
  padding: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

@media (min-width: 1024px) {
  #menuToggle span {
    display: none;
  }
}
