.journals-wrap {
  margin-bottom: 30px;
}

.journals-wrap h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'rutanLight';
}

.journals-second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.journals-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.journals-card {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(151, 114, 87, 0.32);
  transition: transform ease-out 0.5s, box-shadow ease-out 0.5s;
}

.journals-card:hover {
  transform: scale(1.04);
  -webkit-box-shadow: 7px 7px 12px 0px rgba(151, 114, 87, 0.53);
  -moz-box-shadow: 7px 7px 12px 0px rgba(151, 114, 87, 0.53);
  box-shadow: 7px 7px 12px 0px rgba(151, 114, 87, 0.53);
}

.journals-main img {
  height: 100%;
  width: 100%;
}

.journals-main p {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'rutanLight';
  text-transform: uppercase;
}
