.home-products-main-img-shimmer {
  offset: 0.5;
  animation: skeleton-loading 1s linear infinite alternate;
  /* width: 40vw !important; */
  margin-right: 10px !important;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsla(202, 11%, 86%, 0.801);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.home-bags-comp-main-content-wrapper {
  display: flex;
}

.home-flex-img-wrapper {
  width: 37vw; /* 40vw */
  /* height: 76vh; */
  margin-right: 20px;
}

.home-bags-comp {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.home-bags-comp .product-item-card {
  flex-basis: 31%; /* 32 */
  height: 48%; /* 48.5 */
  margin: 0;
  /* min-width: 80px; */
}

.home-bags-comp .product-item-card:nth-child(n + 1):nth-child(-n + 3) {
  margin-bottom: 15px;
}

.home-title-comp {
  font-family: 'rutanLight';
  color: #3a2f2d;
  text-align: right;
  font-size: 82px;
  letter-spacing: 13px;
  margin-top: 100px;
}

.home-header-comp {
  font-family: 'rutanLight';
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.home-header-comp span {
  text-align: end;
  padding-left: 10%;
  align-self: flex-end;
}

.home-header-shop-btn {
  align-self: flex-end;
  width: 360px;
  height: 60px;
  background-color: #977257;
  color: white;
  border: none;
  font-family: 'rutanMedium';
  text-transform: uppercase;
}

.home-footer-shop-btn {
  width: 100%;
  height: 55px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.home-footer-shop-btn button {
  width: 60%;
  height: 100%;
  background-color: #977257;
  color: white;
  border: none;
  font-family: 'rutanMedium';
  text-transform: uppercase;
}

@media (max-width: 1075px) {
  .home-bags-comp-main-content-wrapper .home-flex-img-wrapper {
    display: none;
  }

  .home-bags-comp .shimmer-img-size {
    height: 235px !important;
    width: 239px !important;
  }

  .home-bags-comp .shimmer-text-size {
    height: 48px !important;
    width: 239px !important;
  }
  /* .home-bags-comp .product-item-card {
    flex-basis: 19%;
    height: 48.5%;
  } */
}

/* MOB SCREEN STARTS */
@media (max-width: 430px) {
  .home-bags-comp .shimmer-img-size {
    height: 182px !important;
    width: 182px !important;
  }

  .home-bags-comp .shimmer-text-size {
    height: 20px !important;
    width: 132px !important;
  }

  .home-bags-comp .product-item-card {
    flex-basis: 48%;
    font-size: 12px;
    height: auto;
    margin-bottom: 20px;
    min-height: 240px;
  }

  .home-title-comp {
    font-size: 250%;
    text-align: left;
  }

  .home-header-comp span {
    padding: 5px;
    padding-right: 0;
    text-align: justify;
  }

  .home-header-shop-btn {
    display: none;
  }

  .home-footer-shop-btn {
    display: flex;
  }
}
