.mobile-nav-cont {
  display: none;
  background: #fff;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.692); */
  z-index: 1;
}

.mobile-nav-wrapper {
  color: black;
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow: scroll;
  font-size: 11px;
  width: 100%;
  font-family: 'rutan';
  justify-content: space-between;
}

.mobile-nav-wrapper:hover {
  text-decoration: none;
}

.mobile-nav-test {
  padding-bottom: 10px;
  margin-right: 8px;
}

.mobile-nav-test:first-child {
  margin-left: 15px;
}

.mobile-nav-test:last-child {
  margin-right: 15px;
}

.mobile-nav-test a {
  color: black;
  margin: 0 1px;
}

.mobile-nav-test a:hover {
  text-decoration: none;
}

@media (max-width: 550px) {
  .mobile-nav-cont {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    height: 30px;
    width: 100%;
  }
}

@media (max-width: 414px) {
  .mobile-nav-test {
    margin-right: 6px;
  }
}
