.city {
  margin-right: 7px;
}

.zip-code {
  margin-left: 7px;
}

.order-summary-xxsm{
  font-family: 'rutanMedium';
}

.Toastify__toast--default {
  background-color: #6B584C;
  color: #FFFFFF;
}

.form-control.error-form-style{
  background-color: transparent;
  border-color: #3e3331;
  border-width: 2px;
  border-radius: 5px;
  color: #3e3331;
}

.existing-address-style{
  font-family: 'rutan';
  margin-top: 10px;
  margin-bottom: 10px;
}

.existing-address-wraper{
  max-height: 290px;
  overflow-y: scroll;
  /* background-color: red; */
}

.add-new-address-style{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 190px;
}

.add-new-address-style #child{
  margin-top: 8px;
  
}

.form-check-label{
  padding-top: 2px;
}

.check-box-unchecked{
  padding: 7px;
  padding-left: 18px;
  border-style: solid;
  border-color: #ced4da; /* #3e3331 //#ced4da */
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.check-box-checked{
  padding: 7px;
  padding-left: 18px;
  border-style: solid;
  border-color: #6b584c; /* #3e3331 //#ced4da */
  border-width: 2px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 300ms ease-out;
}



.continue-shopping-style{
  background-color: transparent;
  border: 1px solid #6b584c;
  padding: 9px;
  padding-left: 10px;
  padding-right: 10px;
  color: #6b584c
}

.continue-shopping-style:hover{
  background-color: #6b584c;
  color: #FFFFFF;
  transition: all 300ms ease-out;
}

.custom-control-input-green:focus~.custom-control-label::before { 
  border-color: #6b584c !important;
  box-shadow: 0 0 0 0.2rem #e3ded5 !important;
  /* border-color: #28a745 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important; */
}

.custom-control-input-green:checked~.custom-control-label::before {
  border-color: #6b584c !important;
  background-color: #6b584c !important;
  /* border-color: #28a745 !important;
  background-color: #28a745 !important; */
}

.custom-control-input-green:focus:not(:checked)~.custom-control-label::before {
  border-color: #6b584c !important;
  /* border-color: #5bd778 !important; */
}

.custom-control-input-green:not(:disabled):active~.custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
  /* background-color: #d6f5dd !important;
  border-color: #d6f5dd !important; */
}


@media only screen and (max-width: 414px) {
  .zip-code {
    margin-left: 0;
    margin-right: 7px;
  }

  .existing-address-style{
    padding:1rem;
  }

  .add-new-address-style{
    padding:1rem;
    height: 185px;
  }

  .add-new-address-style #child{
    margin-top: 33px;
  }
}

@media only screen and (min-width: 340px) {
  .order-summary-xxsm {
    padding: 20px;
    padding-top: 30px;
  }

  
  
}
